*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins','sans-serif';
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.card{
    padding: 20px;
    height: auto;
    width: auto;
    background: linear-gradient(135deg,#00feba,#5b548a);
    border-radius: 20px;
    color : #fff;
    display :flex;
    flex-direction : column;
    justify-content: center;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.search input{
    border: none;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 40px;
    font-size: 18px;
    margin-right: 16px;
    flex: 1;

}

.search button{
    border: transparent;
    background: #ebfffc ;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;

}
.search button img{
    width:20px;
}
.weather{
    display: none;
    flex-direction: column;
    align-items: center;
    
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 500;
}

.details{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0px 20px;
    margin-top: 30px;
}
.col{
    display: flex;
    align-items: center;
    padding: 20px;
}

.col img{
    width:40px;
    margin-right: 10%;
}
.humidity, .wind{
    font-size: 200%;
    font-weight: 200;
}